.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;

    .items {
        display: flex;
        flex-direction: column;
        border: 1px solid #aaa;
        border-radius: 4px;
        padding: 10px;
        gap: 10px;
    }
}
